@model FinalGroupProjectTeam8.Models.BankAccountDetailsViewModel
@{
    ViewBag.Title = "Account Details";
}


<!-- Show balance -->
<h2>Account: @Model.BankAccount.Name</h2>
<h3>Balance: @Model.BankAccount.Balance</h3>


@*display advanced search*@
@using (Html.BeginForm("SearchResults", "Details", FormMethod.Get))
{
    //Search textbox
    <p class="form-group">
        Name: @Html.TextBox("SearchString", null, new { @class = "form-control" }) 

        @*Transaction dropdown list*@
        @*@Html.DropDownList("SelectedTransaction", (SelectList)ViewBag.TransactionID, new { @class = "form-control" })*@
    </p>
    @*//gender radio buttons
        <div class="form-group">
            <div class="form-check">
                <label class="form-check-label">
                    @Html.RadioButton("SelectedGender", Gender.All, true, new { @class = "form-check-input" }) All
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    @Html.RadioButton("SelectedGender", Gender.Male, new { @class = "form-check-input" }) Male
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    @Html.RadioButton("SelectedGender", Gender.Female, new { @class = "form-check-input" }) Female
                </label>
            </div>
        </div>

        //textbox for sales amount
        <div class="form-group">
            Average Sales: @Html.TextBox("DesiredSales", null, new { @class = "form-control" }) <div class="text-danger">@ViewBag.Message</div>
            @*radio buttons for sort order*@
    @*<label class="form-check-label">
                @Html.RadioButton("SelectedSortOrder", SortOrder.Ascending, true, new { @class = "form-check-input" }) Greater than
            </label><br />
            <label class="form-check-label">
                @Html.RadioButton("SelectedSortOrder", SortOrder.Descending, new { @class = "form-check-input" }) Less Than
            </label>
        </div>*@
    //submit search button
    <input type="submit" value="Search" class="btn btn-default" />    <br />
}

<!-- Show list of transactions -->
<p>
    @Html.ActionLink("Create new transaction", "CreateTransaction", "Transactions")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Transactions.First().TransactionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transactions.First().Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transactions.First().Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transactions.First().TransactionStatus)
        </th>
        <th>
            Other Notes
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Transactions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionStatus)
            </td>
            <td>
                @if (item.TransactionType == FinalGroupProjectTeam8.Models.Transaction.TransactionTypeEnum.Transfer) {
                    @:Sent from @item.BankAccountID to 
                    // @((FinalGroupProjectTeam8.Models.Transfer) item).ReceivingBankAccountID
                } else
                {
                    @:Standard Transaction
                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Transactions", new { TransactionID = item.TransactionID }, null) | 
                @Html.ActionLink("Dispute", "CreateDispute", "Disputes", new { TransactionID = item.TransactionID }, null)
            </td>
        </tr>
    }
</table>



