@model IEnumerable<FinalGroupProjectTeam8.Models.BankAccount>

@{
    ViewBag.Title = "User Home Page";
}


@{ 
    Boolean negative = false;
    foreach (var item in Model) {
        if (item.Balance < 0) {
            negative = true;
            break;
        }
    }
    if (negative) {
        @: <div class="jumbotron">
        @: <span style="color:red;">You have an overdraft account. Please resolve as soon as possible.</span>
        @: </div>
    }

}

<p>
    <a class="btn btn-primary" href="/User/ApplyForAccount">Apply for new account</a>
    <a class="btn btn-primary" href="/Payee/Home">Pay Bills</a>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BankAccountID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortBankAccountID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit/" + item.BankAccountID, "BankAccount") | 
                @Html.ActionLink("Details", "Details", "BankAccount", new {BankAccountID = item.BankAccountID}, null)
            </td>
        </tr>
    }

</table>