@model IEnumerable<FinalGroupProjectTeam8.Models.BankAccount>

@{
    ViewBag.Title = "User Home Page";
}

<div class="jumbotron">
    <h1>User Home Page</h1>
    <p class="lead">This is the user home page!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<p>
    @Html.ActionLink("Apply for new account", "ApplyForAccount") 
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BankAccountID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BankAccountID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "BankAccount", new { id = item.BankAccountID }) |
                @Html.ActionLink("Details", "Details", "BankAccount", new { id = item.BankAccountID }) |
                @Html.ActionLink("Delete", "Delete", "BankAccount", new { id = item.BankAccountID })
            </td>
        </tr>
    }

</table>

